[submodule "src/ThirdParty/RmlUi"]
	path = src/ThirdParty/RmlUi
	url = https://github.com/ClxS/RmlUi.git
[submodule "src/ThirdParty/SDL"]
	path = src/ThirdParty/SDL
	url = https://github.com/ClxS/SDL.git
[submodule "src/ThirdParty/SDL_image"]
	path = src/ThirdParty/SDL_image
	url = https://github.com/ClxS/SDL_image.git
[submodule "src/ThirdParty/SDL_mixer"]
	path = src/ThirdParty/SDL_mixer
	url = https://github.com/ClxS/SDL_mixer.git
[submodule "src/ThirdParty/benchmark"]
	path = src/ThirdParty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "src/ThirdParty/bgfx"]
	path = src/ThirdParty/bgfx
	url = https://github.com/ClxS/bgfx.git
[submodule "src/ThirdParty/bimg"]
	path = src/ThirdParty/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "src/ThirdParty/bx"]
	path = src/ThirdParty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "src/ThirdParty/fixed_string"]
	path = src/ThirdParty/fixed_string
	url = https://github.com/unterumarmung/fixed_string.git
[submodule "src/ThirdParty/fmt"]
	path = src/ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/ThirdParty/freetype"]
	path = src/ThirdParty/freetype
	url = https://github.com/ClxS/freetype.git
[submodule "src/ThirdParty/googletest"]
	path = src/ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "src/ThirdParty/imgui"]
	path = src/ThirdParty/imgui
	url = https://github.com/ClxS/imgui.git
[submodule "src/ThirdParty/premake-core"]
	path = src/ThirdParty/premake-core
	url = https://github.com/ClxS/premake-core.git
[submodule "src/ThirdParty/tomlcpp"]
	path = src/ThirdParty/tomlcpp
	url = https://github.com/ClxS/tomlcpp.git
[submodule "src/ThirdParty/zlib"]
	path = src/ThirdParty/zlib
	url = https://github.com/ClxS/zlib.git
[submodule "src/ThirdParty/eigen"]
	path = src/ThirdParty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/ThirdParty/grpc"]
	path = src/ThirdParty/grpc
	url = https://github.com/grpc/grpc.git
	ignore = dirty
[submodule "src/ThirdParty/openssl"]
	path = src/ThirdParty/openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "src/ThirdParty/tinyxml2"]
	path = src/ThirdParty/tinyxml2
	url = https://github.com/ClxS/tinyxml2
[submodule "src/ThirdParty/ImGuizmo"]
	path = src/ThirdParty/ImGuizmo
	url = https://github.com/ClxS/ImGuizmo.git
[submodule "lua/ThirdParty/lua-toml"]
	path = lua/ThirdParty/lua-toml
	url = https://github.com/ClxS/lua-toml.git
